<h1>Listing home_archives</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @home_archives.each do |home_archive| %>
  <tr>
    <td><%= home_archive.time %></td>
    <td><%= home_archive.value %></td>
    <td><%= link_to 'Show', home_archive %></td>
    <td><%= link_to 'Edit', edit_home_archive_path(home_archive) %></td>
    <td><%= link_to 'Destroy', home_archive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Home archive', new_home_archive_path %>
