<%= form_for(@overseer) do |f| %>
  <% if @overseer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overseer.errors.count, "error") %> prohibited this overseer from being saved:</h2>

      <ul>
      <% @overseer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :klass %><br />
    <%= f.text_field :klass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
