%h2= "Editing Measurement type group"

= render 'form'

%p= "You can add measurement types to group when edit measurement type"

= link_to 'Show', @meas_type_group
= link_to 'Back', meas_type_groups_path
