<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meas_type_group.name %>
</p>

<p>
  <b>Unit:</b>
  <%= @meas_type_group.unit %>
</p>


<%= link_to 'Edit', edit_meas_type_group_path(@meas_type_group) %> |
<%= link_to 'Back', meas_type_groups_path %>
