<h1>Listing meas_types</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meas_types.each do |meas_type| %>
  <tr>
    <td><%= meas_type.name %></td>
    <td><%= link_to 'Show', meas_type %></td>
    <td><%= link_to 'Edit', edit_meas_type_path(meas_type) %></td>
    <td><%= link_to 'Destroy', meas_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meas type', new_meas_type_path %>
