%h2= "Welcome"

- if current_user

  %div{:style => 'height: 200px; width: 100%; align: center;', :align => 'center'}
    %div.rounded_box
      = link_to "Current measurements", meas_caches_path
    %div.rounded_box
      = link_to "Actions", action_types_path
    %div.rounded_box
      = link_to "Last executed actions", action_type_action_events_path('all')
    %div.rounded_box
      = link_to "Overseers status", status_overseers_path

    %br

- else
  = "Please login"