<h1>Listing weather_metar_archives</h1>

<table>
  <tr>
    <th>Time from</th>
    <th>Time to</th>
    <th>Temperature</th>
    <th>Wind</th>
    <th>Pressure</th>
    <th>Rain metar</th>
    <th>Snow metar</th>
    <th>Raw</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weather_metar_archives.each do |weather_metar_archive| %>
  <tr>
    <td><%= weather_metar_archive.time_from %></td>
    <td><%= weather_metar_archive.time_to %></td>
    <td><%= weather_metar_archive.temperature %></td>
    <td><%= weather_metar_archive.wind %></td>
    <td><%= weather_metar_archive.pressure %></td>
    <td><%= weather_metar_archive.rain_metar %></td>
    <td><%= weather_metar_archive.snow_metar %></td>
    <td><%= weather_metar_archive.raw %></td>
    <td><%= link_to 'Show', weather_metar_archive %></td>
    <td><%= link_to 'Edit', edit_weather_metar_archive_path(weather_metar_archive) %></td>
    <td><%= link_to 'Destroy', weather_metar_archive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weather metar archive', new_weather_metar_archive_path %>
