<p id="notice"><%= notice %></p>

<p>
  <b>Time from:</b>
  <%= @weather_metar_archive.time_from %>
</p>

<p>
  <b>Time to:</b>
  <%= @weather_metar_archive.time_to %>
</p>

<p>
  <b>Temperature:</b>
  <%= @weather_metar_archive.temperature %>
</p>

<p>
  <b>Wind:</b>
  <%= @weather_metar_archive.wind %>
</p>

<p>
  <b>Pressure:</b>
  <%= @weather_metar_archive.pressure %>
</p>

<p>
  <b>Rain metar:</b>
  <%= @weather_metar_archive.rain_metar %>
</p>

<p>
  <b>Snow metar:</b>
  <%= @weather_metar_archive.snow_metar %>
</p>

<p>
  <b>Raw:</b>
  <%= @weather_metar_archive.raw %>
</p>


<%= link_to 'Edit', edit_weather_metar_archive_path(@weather_metar_archive) %> |
<%= link_to 'Back', weather_metar_archives_path %>
