<%= form_for(@weather_archive) do |f| %>
  <% if @weather_archive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_archive.errors.count, "error") %> prohibited this weather_archive from being saved:</h2>

      <ul>
      <% @weather_archive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.datetime_select :time_from %>
  </div>
  <div class="field">
    <%= f.label :time_to %><br />
    <%= f.datetime_select :time_to %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :wind %><br />
    <%= f.text_field :wind %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br />
    <%= f.text_field :pressure %>
  </div>
  <div class="field">
    <%= f.label :rain %><br />
    <%= f.text_field :rain %>
  </div>
  <div class="field">
    <%= f.label :snow %><br />
    <%= f.text_field :snow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
