%h2= "Action events"

= # http://docs.jquery.com/UI/Dialog

:javascript
  $(document).ready(function() {
    // prepare dialog
    $("#dialog").dialog({ autoOpen: false });

    // use dialog window
    $(".comments").click( function() {
      $.ajax({
        url: this.href,
        success: function(html){
          $("#dialog").empty();
          $("#dialog").append(html);
          $("#dialog").dialog('open');
         }

      });
      return false;
    })
  });

- # loading comments via ajax

#dialog{:title => "Comments"}

:javascript
  function openAddCommentDialog(id) {
    $.ajax({
      url:"/action_events/" + id + "/comments/new",
      context: document.body.content_container,
      success: function(data) {
        $('#dialog').html(data);
        alert('Load was performed.');
      }
    });
  }
  /*
  function addComment(id) {
    $("#dialog").dialog('open')
  }


  */


%table.data_table
  %thead
    %tr
      %th= "Action name"
      %th= "Time"
      %th= "Other info"
      %th= "Error"
      %th= "User"
      %th= "Overseer"

  - @action_events.each do |action_event|
    %tr{:class => cycle("even", "odd")}
      %td= action_event.action_type.name
      %td= action_event.time
      %td= action_event.other_info

      - if action_event.error_status
        %td{:style => "color: red;"}= action_event.error_status
      - else
        %td= action_event.error_status

      - unless action_event.executed_by_user.nil?
        %td= action_event.executed_by_user.login
      - else
        %td
          %span.small_info= "backend"

      - unless action_event.executed_by_overseer.nil?
        %td= action_event.executed_by_overseer.name
      - else
        %td

      - if true
        %td
          = link_to "Comments", new_action_event_comment_path( action_event ), :class => "comments"
          - # http://www.sohtanaka.com/web-design/inline-modal-window-w-css-and-jquery
          =# link_to "Comments", action_type_action_event_comments_path( action_event.action_type_id, action_event ), :html => {:rel => "popup_name", :class => "poplight"}

      %td
        - if action_event.comments.size == 0
          = link_to "Add comment", "javascript:openAddCommentDialog(#{action_event.id});"
        - else
          = link_to "Comments", "javascript:openAddCommentDialog(#{action_event.id});"


%hr
%p= will_paginate @action_events
%p= page_entries_info @action_events

