%h2= "Action events"

%table.data_table
  %thead
    %tr
      %th= "Action name"
      %th= "Time"
      %th= "Other info"
      %th= "Error"
      %th= "User"
      %th= "Overseer"

  - @action_events.each do |action_event|
    %tr{:class => cycle("even", "odd")}
      %td= action_event.action_type.name
      %td= action_event.time
      %td= action_event.other_info

      - if action_event.error_status
        %td{:style => "color: red;"}= action_event.error_status
      - else
        %td= action_event.error_status

      - unless action_event.executed_by_user.nil?
        %td= action_event.executed_by_user.login
      - else
        %td
          %span.small_info= "backend"

      - unless action_event.executed_by_overseer.nil?
        %td= action_event.executed_by_overseer.name
      - else
        %td

      %td
        = link_to "Comments", action_type_action_event_comments_path( action_event.action_type_id, action_event )

%hr
%p= will_paginate @action_events
%p= page_entries_info @action_events

