= form_for(@meas_type_group) do |f|
  - if @meas_type_group.errors.any?
    #error_explanation
      %h2
        = pluralize(@meas_type_group.errors.count, "error")
        prohibited this meas_type_group from being saved:
      %ul
        - @meas_type_group.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :unit
    %br/
    = f.text_field :unit

  .field
    %ul
      - for meas_type in MeasType.all
        %li
          = check_box_tag "meas_type_group[meas_type_ids][]", meas_type.id, @meas_type_group.meas_types.include?(meas_type)
          = meas_type.name_human

  .field
    = f.label :y_min
    %br/
    = f.text_field :y_min
  .field
    = f.label :y_max
    %br/
    = f.text_field :y_max
  .field
    = f.label :y_interval
    %br/
    = f.text_field :y_interval

  .actions
    = f.submit