%table.data_table
  %thead
    %tr
      %th= "Measurement"
      %th= "Value"
      %th= "Date"
      %th= "Time from"
      %th= "Time to"
  = render :partial => 'meas_archives/meas_archive', :collection => meas_archive_array
%hr
- if false
  - # TODO: will_paginate problem
  %p= will_paginate meas_archive_array
  %p= page_entries_info meas_archive_array

