<h1>Listing meas_archives</h1>

<table>
  <tr>
    <th>Time from</th>
    <th>Time to</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meas_archives.each do |meas_archive| %>
  <tr>
    <td><%= meas_archive.time_from %></td>
    <td><%= meas_archive.time_to %></td>
    <td><%= meas_archive.value %></td>
    <td><%= link_to 'Show', meas_archive %></td>
    <td><%= link_to 'Edit', edit_meas_archive_path(meas_archive) %></td>
    <td><%= link_to 'Destroy', meas_archive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meas archive', new_meas_archive_path %>
