<p id="notice"><%= notice %></p>

<p>
  <b>Time from:</b>
  <%= @meas_archive.time_from %>
</p>

<p>
  <b>Time to:</b>
  <%= @meas_archive.time_to %>
</p>

<p>
  <b>Value:</b>
  <%= @meas_archive.value %>
</p>


<%= link_to 'Edit', edit_meas_archive_path(@meas_archive) %> |
<%= link_to 'Back', meas_archives_path %>
