!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "HomeIO"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #top_navcontainer
      = render_navigation :renderer => :breadcrumbs, :join_with => " &gt; "
    #left_navcontainer
      = render_navigation :expand_all => true
    #content_container
      = yield
