!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "HomeIO"
    = stylesheet_link_tag :all
    
    = javascript_include_tag 'jquery-1.5.2.min'
    = javascript_include_tag 'jquery.qtip-1.0.0-rc3.min'
    -# not worky
    =# javascript_include_tag 'rails'

    = javascript_include_tag 'raphael-min'
    = javascript_include_tag 'g.raphael-min'
    =# javascript_include_tag 'g.line-min'
    = javascript_include_tag 'g.line'

    = javascript_include_tag 'jquery-ui.min'

    = javascript_include_tag 'json2'
    = javascript_include_tag 'underscore'
    = javascript_include_tag 'backbone'

    = javascript_include_tag 'dashboard'

    = javascript_include_tag 'models/meas_type'
    = javascript_include_tag 'models/meas_archive'

    = javascript_include_tag 'controllers/meas_type'
    = javascript_include_tag 'controllers/meas_archive'

    = javascript_include_tag 'views/meas_type'



    =# coffee_script_bundle :mode => :inline

    = csrf_meta_tag
  %body
    #top_navcontainer
      = render_navigation :renderer => :breadcrumbs, :join_with => " &gt; "
    #left_navcontainer
      = render_navigation :expand_all => true
    #content_container
      - unless flash.blank?
        #flash
          - types = [:error, :warning, :notice].each do |t|
            - unless flash[ t ].blank?
              %span{:class => t}= flash[t]
              - flash[ t ] = nil
      = yield
    -# change 'titles' in spans to qtips
    = javascript_tag( "$('[title]').qtip({ style: { name: 'light', tip: true, padding: 5, border: { width: 2, radius: 2 }, }, position: { corner: { target: 'topMiddlet', tooltip: 'bottomLeft' } } })" )
