!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "HomeIO"
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery-1.5.2.min'
    = javascript_include_tag 'jquery.qtip-1.0.0-rc3.min'
    = javascript_include_tag 'rails'
    = csrf_meta_tag
  %body
    #top_navcontainer
      = render_navigation :renderer => :breadcrumbs, :join_with => " &gt; "
    #left_navcontainer
      = render_navigation :expand_all => true
    #content_container
      = yield
    -# change 'titles' in spans to qtips
    = javascript_tag( "$('[title]').qtip({ style: { name: 'light', tip: true, padding: 5, border: { width: 2, radius: 2 }, }, position: { corner: { target: 'topMiddlet', tooltip: 'bottomLeft' } } })" )
