<!DOCTYPE html>
<html>
<head>
  <title>HomeIo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render_navigation :renderer => :breadcrumbs, :join_with => " &gt; " %>
<hr/>
<%= render_navigation :expand_all => true %>

<%= yield %>

</body>
</html>
