<h1>Listing action_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @action_types.each do |action_type| %>
  <tr>
    <td><%= action_type.name %></td>
    <td><%= link_to 'Show', action_type %></td>
    <td><%= link_to 'Edit', edit_action_type_path(action_type) %></td>
    <td><%= link_to 'Destroy', action_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action type', new_action_type_path %>
