%h2= "Action types"

%table.data_table
  %thead
    %tr
      %th= "Name"
      %th{:colspan => 2}= "Actions"

  - @action_types.each do |action_type|
    %tr{:class => cycle("even", "odd")}
      %td= action_type.name
      %td= link_to 'Execute', execute_action_type_path(action_type), :method => :post
      %td= link_to 'Show', action_type
      %td= link_to 'Edit', edit_action_type_path(action_type)

