%tr{:class => cycle("even", "odd")}
  %td= city.name
  %td= city.country
  %td{:title => "Distance #{np(city.calculated_distance)} km"}= city.lat
  %td{:title => "Distance #{np(city.calculated_distance)} km"}= city.lon
  %td= city.metar
  %td= link_to "Details", city_path(city)

  %td
    - if city.logged_metar
      = link_to "Weather", city_weather_metar_archives_path(city)
      - if city.logged_weather
        = link_to " (non metar)", city_weather_archives_path(city)
    - elsif city.logged_weather
      = link_to "Weather", city_weather_archives_path(city)
