<h1>Listing cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Metar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.country %></td>
    <td><%= city.lat %></td>
    <td><%= city.lon %></td>
    <td><%= city.metar %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
