<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Country:</b>
  <%= @city.country %>
</p>

<p>
  <b>Lat:</b>
  <%= @city.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @city.lon %>
</p>

<p>
  <b>Metar:</b>
  <%= @city.metar %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
