%h2= @city.name
%h3
  = @city.country
  - unless @city.metar.nil?
    = " - "
    = @city.metar

#info
  = link_to( @city.lat.to_s + "," + @city.lon.to_s, "http://maps.google.pl/maps?q=#{@city.lat},#{@city.lon}")

%h2= "Temperature [C]"
= render :partial => "graphs/graph", :locals => {:_params => params.clone.merge({:type => :temperature}), :smooth => false, :width => 800}

%h2= "Wind [m/s]"
= render :partial => "graphs/graph", :locals => {:_params => params.clone.merge({:type => :wind}), :smooth => false, :width => 800}


:javascript
  /*
  $.get('/cities/#{@city.id}.json', {}, function(data) {
    var r = Raphael('chart');

    var x = [];
    var y = [];
    var i = 0;

    for (i=0; i<data.length; i=i+1) {
      x[i] = data[i]["time"];
      y[i] = data[i]["temperature"];
    }

    //var lines = r.g.linechart(10, 10, 800, 600, x, y, {nostroke: false, axis: "0 0 1 1", symbol: "x", smooth: true});
    var lines = r.g.linechart(10, 10, 800, 600, x, y, {nostroke: false, axis: "0 0 1 1", smooth: false});

  });
  */


